<<<<<<< HEAD
<h1>Create a New Post about Frogs!<img src="http://www.spirit-animals.com/wp-content/uploads/2013/03/Red-Eyed-Tree-Frog.jpg" alt ="Frog"></h1>
=======
<h1>Create a New Post!<img src="frog.jpg" alt="Frog"></h1>
>>>>>>> c89c188f5f3fea2c5933d5897619239148df28c0

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.text %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
